.App{
  background-color: #0e0e0f;
  font-family: Roboto;
}

html{
  background-color: #1A1A1D;
  scrollbar-width: 0px;
}

.grecaptcha-badge{
  opacity: 0.4;
  transition: 0.5s;
}

.grecaptcha-badge:hover{
  opacity: 0.9;
}

@media only screen and (max-width: 800px){
  .grecaptcha-badge{
    display: none !important;
  }
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e0e0f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e4e50; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f5f63; 
}